@import '../../../styles/mixins.scss';
@import '../../../styles/animations.scss';

:host {
  @include center_itens();
  height: 100vh;

  .img-lerft-container {
    width: 30vw;
    height: 100%;


    background-image: url("../../../assets/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    animation: loadinPage 1s  ease-out forwards;
    transition: all 0.5s ease-out;
  }

  .form-box-forget {
    animation: show-text 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
    @include center_itens();
    flex-direction: column;

    background-color: #fff;

    width: 70%;
    height: 100%;

    gap: 1.0rem;

    span{
      position: absolute;
      top: 1rem;
      right: 1rem;

      text-transform: capitalize;
      font-size: .9rem;
    }
    form {

      @include center_itens();
      flex-direction: column;
      align-items: flex-start;

      gap: 1.0rem;



      h1 {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: capitalize;
      }

      p {
        width: 30vw;
        height: auto;

        font-size: .8rem
      }
      label{

        font-size: .9rem;
        font-weight: bold;
        text-transform: capitalize;
      }
      input{
        border: 1px solid #636363;
        padding: .3rem;
        width: 20vw;
        height: auto;

        outline: none;
      }
      button{
        background-color: #ff416c;
        color: #fff;

       
        padding: .4rem;

        text-transform: capitalize;
        font-size: .9rem;
        font-weight: 500;

        cursor: pointer;
        transition: all .7s ease-out;
        &:hover{
          background-color: #ca1e46;
        }
      }
    }
  }
}
