
<div class="img-lerft-container"></div>
<div class="form-box-forget">
  <span>not a member?<a routerLink="/login" routerLinkActive="active">sign-up now</a></span>

  <form class="form">
    <h1>forgot password?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, sapiente
      ut velit ipsa quis consequuntur</p>
    <label for="input-email">Email address</label>
    <input type="text" class="input-email">

    <button class="btn-submit-form-fotget">enviar link de confirmaçao</button>
  </form>
</div>
