<h1 class="logo">Logo.</h1>

<div class="container" id="main" #main>

  <div class="sign-up">
    <form>
      <h1>Create Account</h1>
      <div class="form-field">
        <label for="name">Name</label>
        <input type="text"  name="name" >
      </div>
      <div class="form-field">
        <label for="email">Email</label>
        <input type="email" name="email" >
      </div>
      <div class="form-field">
        <label for="password">Password</label>
        <input type="password" name="password" >
      </div>
      <div class="form-field">
        <label for="comfirm password">Comfirm Password</label>
        <input type="password" name="comfirm password">
      </div>

      <button class="btn-form">Sign Up</button>
    </form>
  </div>
  <div class="sign-in">
    <form >
      <h1>Sign in</h1>
      <div class="form-field">
        <label for="email">Email</label>
        <input type="email" name="email">
      </div>

      <div class="form-field">
        <label for="password">Password</label>
        <input type="password" name="password">
      </div>

      <a routerLink="/forgetPassword" routerLinkActive="active"> Forget your
        password</a>

      <button class="btn-form" (click)="onCLick($event)">Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-left">
        <h1>Welcome back</h1>
        <p>to keep connected with us please login with your personal info</p>
        <button class="btn-overlay" id="login" #login>Sing In</button>
      </div>
      <div class="overlay-right">
        <h1>hello , Friend</h1>
        <p>Enter your personal details and start exploring our services</p>
        <button class="btn-overlay" id="register" #register>Sign Up</button>
      </div>
    </div>
  </div>
</div>
