<div class="container" id="main" #main >

  <div class="sign-up">
    <form>
      <h1>Create Account</h1>
      <input type="text" placeholder="Name" required>
      <input type="email" placeholder="Email" required>
      <input type="password" placeholder="Password" required>
      <input type="password" placeholder="Confirm Password" required>

      <button class="btn-form">Sign Up</button>
    </form>
  </div>
  <div class="sign-in">
    <form>
      <h1>Sign in</h1>
      <input type="email" placeholder="Email" required>
      <input type="password" placeholder="Password" required>
      <a href="#"> Forget your password</a>
      <button class="btn-form">Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-left">
        <h1>Welcome back</h1>
        <p>to keep connected with us please login with your personal info</p>
        <button class="btn-overlay" id="login" #login>Sing In</button>
      </div>
      <div class="overlay-right">
        <h1>hello , Friend</h1>
        <p>Enter your personal details and start exploring our services</p>
        <button class="btn-overlay" id="register" #register>Sign Up</button>
      </div>
    </div>
  </div>
</div>
